__pll*
*.log
*~
*.do

papers/stata-journal/*.pdf

test files/all_tests_results.txt
test files/platformname.txt
ado/temp.txt
*_env.sh

*.log
*.aux
*.bib
*.nav
*.out
*.toc
*.vrb
*.snm

# LaTeX
*.synctex.gz


*.zip
*.7z
*.dta

*.png
*.jpeg
*.jpg

.Rproj.user
